# Build directories
/cmake-build*
/serial-*
# VS Code files
*.mod 
# Jetbrains files
/.idea
# Fortran outputs i.e. write(101, *) ...
fort.*
# Python files
__pycache__

/product_cubes
/outputs
/SORT
.DS_Store